html {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  /*overflow: hidden;*/
  overflow-x: hidden;
  /*overflow-y: scroll;*/
}

input {
  font-size: 14px;
  padding: 3px;
  width: 92px;
  text-align: center;
}
th {
  text-align: center !important;
}

#drawerLinks a{
	text-decoration: none;
}

.MuiSvgIcon-root-67 {
  font-size: 17px !important;
}

#order-bulk-dialog-title h2 {
  text-align: center;
}
#order-bulk-dialog-content {
  display: flex;
  width: 550px;
  min-height: 50px;
  align-items: center;
  flex-direction: column;
}

#order-bulk-dialog-content p {
  text-align: center;
}

#order-bulk-dialog-contentText {

}
.order-download {
  padding-left: 20px;
}
@media screen and (max-width: 1075px) {
  .order-download {
    padding-left: 0px;
  }
}

@media screen and (max-width: 1060px) {
  .Connect-Orders--label-161 {
    padding-left: 10px !important;
  }
  .SearchModule-select-254 {
    width: 120px !important;
  }
  .SearchModule-textField-255 {
    width: 130px !important;
  }
  .Connect-Orders--downloadContent-160 {
    padding-left: 0 !important;
  }
  .dwnl-btn {
    padding: 12px 0 !important;
  }
  .dwnl-date {
    padding: 12px 5px !important;
  }
  .filter-apply-btn {
    padding: 12px 0 !important;
  }
  .filter-clear-btn {
    padding: 12px 10px !important;
  }
  .order-label {
    display: none !important;
  }
  .order-search, .order-download {
    max-width: 50% !important;
    flex-basis: 50% !important;
  }
  .order-filter {
    max-width: 100% !important;
    flex-basis: 100% !important;
  }
}
@media screen and (max-width: 600px) {
  .order-search, .order-download {
    max-width: 100% !important;
    flex-basis: 100% !important;
  }
}